services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: travel_payment
      POSTGRES_USER: travel_payment
      POSTGRES_PASSWORD: collapse1997
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  api:
    build:
      context: .
      dockerfile: src/Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=db;Database=travel_payment;Username=travel_payment;Password=collapse1997"
    ports:
      - "8080:8080"
    depends_on:
      - db

  web:
    build:
      context: src/Web
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  pgdata:
